.git
.gitignore
.env
.env.*
!.env.production
node_modules
vendor
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/app/.gitignore
!storage/framework/.gitignore
!storage/logs/.gitignore
tests
.phpunit.result.cache
*.md
!DEPLOYMENT.md
.editorconfig
.styleci.yml
phpunit.xml
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
